<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block titile %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mainstyle.css' %}" rel="stylesheet">
</head>
<body>
<!--
    <header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>
                <h1 class="text-center">Статей.NET</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">
                <ul>
                    <li class="tm-nav-item active"><a href="{% url 'articles' %}" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Главная
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'articles' %}" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Написать статью
                    </a></li>
                </ul>
            </nav>
        </div>
    </header>
-->
 <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <h1>Статей.NET</h1>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Новые</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Интересные</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="#" class="nav-link px-2 link-dark">Добавить статью</a></li>
          {% endif %}
        <li><a href="#" class="nav-link px-2 link-dark"></a></li>
      </ul>

      <div class="col-md-3 text-end">
          {% if request.user.is_authenticated %}
            {{ request.user.first_name }} <button type="button" class="btn btn-primary" onclick="location.href='{% url 'logout' %}'">Выход</button>
          {% else %}
            <button type="button" class="btn btn-outline-primary me-2" onclick="location.href='{% url 'login' %}'">Вход</button>
            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'register' %}'">Регистрация</button>
          {% endif %}
      </div>
    </header>
  </div>

<div class="container">
        <main class="tm-main">
            {% block content %}
            {% endblock %}
        </main>
</div>

</body>
</html>