{% extends 'base.html' %}

{% block title %}Добавление статьи{% endblock %}

{% block content %}
<div class="new-post">
  {% if request.user.is_authenticated %}
  <h1>Создание статьи:</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.title }}<br>
    {{ form.announcement_post }}<br>
    {{ form.text }}<br>
    {{ form.category }}<br>
    <input type="submit" class="btn btn-outline-primary me-2" value="Опубликовать">
  </form>
  {% else %}
  <p>Для написания стать надо <a href="{% url 'login' %}">авторизоватся.</a></p>
  {% endif %}
</div>
{% endblock %}