{% extends 'base.html' %}
{% load static %}
{% block title %}Статей.NET{% endblock %}

{% block content %}
    <div class="row tm-row">
                {% for post in posts %}
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="{% url 'post' post.id %}" class="nav-link px-2 link-dark">
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ post.title }}</h2>
                    </a>
                    <p class="tm-pt-30">
                        {{ post.announcement_post }}
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">{{ post.category }}</span>
                        <span class="tm-color-primary">{{ post.post_data }}</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>0 comments</span>
                        <span>by {{ post.author }}</span>
                    </div>
                </article>
                {% endfor %}
    </div>
{% endblock %}