{% extends 'base.html' %}

{% block title %}{{article.title}}{% endblock %}

{% block content %}
<h2>{{article.title}}</h2>
<p>
  {{article.text}}
</p>
<em>{{article.pub_date}}</em>

<hr>
  {% if comments %}
    {% for comment in comments %}
        <p><h4>{{comment.author_name}}: </h4>
        {{comment.comment_text}}
        </p><br>
    {% endfor %}
  {% else %}
    <P>Коментарии не найдены, будьте первым!</P>
  {% endif %}
<hr>

<form action="{% url 'articles:leave_comment' article.id %}" method="POST">

  {% csrf_token %}

  <input type="text" required placeholder="Ваше имя" name="name"><br>
  <textarea name="text" required="" placeholder="Текст комместария" cols="30" rows="10"></textarea><br>
  <button type="submit">Оставить комметарий</button>
</form>

{% endblock %}